@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,900&display=swap");

body {
  background-color: #17171f;
  font-size: 1.4rem;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(72, 65, 191, 1) 21%,
    rgba(252, 3, 3, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rastagradient {
  background: linear-gradient(
    90deg,
    rgba(67, 152, 76, 1) 27%,
    rgba(239, 249, 14, 1) 52%,
    rgba(208, 45, 45, 1) 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 500px) {
  body {
    font-size: 1.5rem;
  }
}
